.wrapper{
    width: 1180px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding:50px 0;
    border-radius: 10px;
}
h1 , h2{
    color: black;
}
.discount-body{
    display: flex;
    flex-direction: column;

}
.discount-body input{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    padding:5px 10px ;
}
#sub-btn{
    margin-top: 20px;
    background-color:tomato;
    color: white;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
}